<h1>Welcome to bloccit</h1>
<p>Created by: Me</p>
<p id="index-title">This is the home page for Bloccit</p>



<%= link_to image_tag("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTs4Fy7KNnZ-s2Ey2JtaJcQyIT4qhOMrNcKdiKAItllSSBVXSck6jmlMg", border: 0), "http://github.com/MockingbirdME", :class => 'social-btn2' %>
<%= link_to "Github", "http://github.com/MockingbirdME", :class => 'social-btn' %>
